%li.notifi
	- if notification.notice_type == "comment"
		= link_to "#{notification.notified_by.user_name} has #{notification.notice_type}ed on your post", link_through_path(notification)
	- if notification.notice_type == "like"
		= link_to "#{notification.notified_by.user_name} has #{notification.notice_type}d your post", link_through_path(notification)
	- if notification.notice_type == "follow"
		= link_to "#{notification.notified_by.user_name} has #{notification.notice_type}ed you", link_through_path(notification)
%br